.faq-container {
  padding: 100px 100px;
  min-height: calc(
    100vh - 200px
  ); /* Adjust this value based on the height of your header and footer */
  box-sizing: border-box;
}

.faq-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif;
}

.accordion-button {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #193c3c;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  color: #193c3c;
  background-color: #e4f4f4;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button::after {
  background-image: none;
}

.accordion-item {
  border: none;
}

.accordion-button.collapsed {
  color: #193c3c;
}

.accordion-body {
  font-size: 1rem;
  color: #555555;
  background-color: transparent;
}
